In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df=pd.read_csv('../data/raw/heart_disease.csv')
print("----INFO----")
print(df.info())

----INFO----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9971 non-null   float64
 1   Gender                9981 non-null   object
 2   Blood Pressure        9981 non-null   float64
 3   Cholesterol Level     9970 non-null   float64
 4   Exercise Habits       9975 non-null   object
 5   Smoking               9975 non-null   object
 6   Family Heart Disease  9979 non-null   object
 7   Diabetes              9970 non-null   object
 8   BMI                   9978 non-null   float64
 9   High Blood Pressure   9974 non-null   object
 10  Low HDL Cholesterol   9975 non-null   object
 11  High LDL Cholesterol  9974 non-null   object
 12  Alcohol Consumption   7414 non-null   object
 13  Stress Level          9978 non-null   object
 14  Sleep Hours           9975 non-null   float64
 15  Sugar Consumption     9970 non-null   object
 16  Triglyceride Level    9974 non-null   float64
 17  Fasting Blood Sugar   9978 non-null   float64
 18  CRP Level             9974 non-null   float64
 19  Homocysteine Level    9980 non-null   float64
 20  Heart Disease Status  10000 non-null  object
dtypes: float64(9), object(12)
memory usage: 1.6+ MB
None

In [25]:
print("----DATA HEAD----")
df.head()

----DATA HEAD----

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,...,No,High,Medium,7.633228,Medium,342.0,NaN,12.969246,12.387250,No
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No

In [35]:
mode_alcohol=df["Alcohol Consumption"].mode()[0]
df["Alcohol Consumption"].fillna(mode_alcohol,inplace=True)

df.dropna(inplace=True)

binary_columns=[
    "Smoking",
    "Family Heart Disease",
    "Diabetes",
    "High Blood Pressure",
    "High LDL Cholesterol",
    "Heart Disease Status"
    ]

for col in binary_columns:
    df[col]=df[col].replace({"Yes":1,"No":0})

C:\Users\sastr\AppData\Local\Temp\ipykernel_35780\3055293682.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Alcohol Consumption"].fillna(mode_alcohol,inplace=True)

In [39]:
print("----Cleaned Data Info----")
df.info()

----Cleaned Data Info----
<class 'pandas.core.frame.DataFrame'>
Index: 9532 entries, 1 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9532 non-null   float64
 1   Gender                9532 non-null   object
 2   Blood Pressure        9532 non-null   float64
 3   Cholesterol Level     9532 non-null   float64
 4   Exercise Habits       9532 non-null   object
 5   Smoking               9532 non-null   int64
 6   Family Heart Disease  9532 non-null   int64
 7   Diabetes              9532 non-null   int64
 8   BMI                   9532 non-null   float64
 9   High Blood Pressure   9532 non-null   int64
 10  Low HDL Cholesterol   9532 non-null   object
 11  High LDL Cholesterol  9532 non-null   int64
 12  Alcohol Consumption   9532 non-null   object
 13  Stress Level          9532 non-null   object
 14  Sleep Hours           9532 non-null   float64
 15  Sugar Consumption     9532 non-null   object
 16  Triglyceride Level    9532 non-null   float64
 17  Fasting Blood Sugar   9532 non-null   float64
 18  CRP Level             9532 non-null   float64
 19  Homocysteine Level    9532 non-null   float64
 20  Heart Disease Status  9532 non-null   int64
dtypes: float64(9), int64(6), object(6)
memory usage: 1.6+ MB

In [40]:
print("----Cleaned Data----")
df.head()

----Cleaned Data----

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
1,69.0,Female,146.0,286.0,High,0,1,1,25.221799,0,...,0,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,0
2,46.0,Male,126.0,216.0,Low,0,0,0,29.855447,0,...,1,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,0
3,32.0,Female,122.0,293.0,High,1,1,0,24.130477,1,...,1,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,0
4,60.0,Male,166.0,242.0,Low,1,1,1,20.486289,1,...,0,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,0
5,25.0,Male,152.0,257.0,Low,1,0,0,28.144681,0,...,0,Low,Medium,5.504876,Low,126.0,91.0,4.297575,10.815983,0

In [41]:
df.to_csv("../data/processed/processed_heart_disease.csv",index=False)